@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --primary-color: #390099;
    --secondary-color: #9E0059;
    --third-color: #ff0054;
    --fourth-color: #ff5400;
    --fifth-color: #ffbd00;

    --highlight-color: #e6d8ff;
    --highlight-color-light: #ffc4d7;
    --border-color: slategrey;
}



body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-text-color);
    font-weight: 400;
}

h1,
h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

p {
    width: auto;
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}


#header {
    padding-top: 2rem;
}


.btn-primary {
    font-weight: bold;
    font-size: 140%;
    --bs-btn-color: var(--primary-color);
    --bs-btn-bg: none;
    --bs-btn-border-width: none;
    --bs-btn-hover-color: var(--fifth-color);
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
}

section {
    border: 1px solid var(--border-color);
    background-color: var(--highlight-color);
    /* FLEX PARENT PROPERTIES */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* forms */
form {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left;
}


#ms div.container-fluid {
    vertical-align: middle;
    margin: 0;
    padding: 5px;
    /* FLEX PARENT PROPERTIES */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


div.container-fluid {
    border: 1px solid var(--border-color);
    display: flex;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
}

form label {
    font-family: var(--secondary-font);
    font-weight: 500;
    color: var(--primary-text-color);
    margin-left: 0;
    width: auto;
    padding: 2.5px;
    justify-content: center;
    display: inline;
    position: relative;
}

.form-check-input[type=radio] {
    margin: 0;
    padding: 0;
    justify-content: center;
    display: inline;
    position: relative;
}

.form-check-input[type=checkbox] {
    margin: 0;
    padding: 0;
    justify-content: center;
    display: inline;
    position: relative;
}

input#expr.form-control {
    width: auto;
}

fieldset {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

legend {
    border: 1px solid var(--border-color);
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--primary-text-color);
    font-size: large;
    padding: 5px;
    text-align: center;

}


input#radio-btn {
    margin: 0;
}


#g-info,
#j-info,
#m-address,
#email-address,
#phone-number,
#birth-date,
#occupation,
#f-address,
#signature {
    border: none;
    /* FLEX PARENT PROPERTIES */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* SPACING PROPERTIES */
    align-items: center;
    gap: 15px;
    flex-basis: auto;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
    vertical-align: middle;
}

span {
    color: #cf0000;
    font-size: smaller;
}

#success a.btn.btn-primary.mb-5 {
    --bs-btn-color: var(--primary-text-color);
}

/*Taxpayer Information*/


#tpi-form {
    text-align: left;
}

#tpi-form p {
    padding-right: 10px;
}

div.box.container-fluid {
    border: none;
    /* FLEX PARENT PROPERTIES */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* SPACING PROPERTIES */
    align-items: center;
    gap: 10px;
    flex-basis: auto;
    height: auto;
    margin-bottom: 10px;
    text-align: left;
    vertical-align: middle;
}

div.box.container-fluid p {
    padding: 0;
    margin: 0;
    text-align: left;
}

div#expr {
    border: none;
    /* FLEX PARENT PROPERTIES */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#rrf, #ifblind, #ifdisabled, #ifdead, #trfby, #pec {
    border: none;
    /* FLEX PARENT PROPERTIES */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


div.form-check {
    margin: 0;
    padding: 0;
}

/*Filing Status and exemptions*/

#snra,
#slwy,
#aj30,
#comm-m,
#comm-o, #exemp, #pec, #stol, #dsol, #dmsol {
    border: none;
    /* FLEX PARENT PROPERTIES */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    vertical-align: middle;
}

#fsae input.form-check-input[type=checkbox] {
    margin: 0.25em 0 0 0;
    padding: 0;
    float: flex;
    justify-content: center;
    display: inline;

}

#fsae input.form-check-input[type=radio] {
    margin: 0.25em 0 0 0;
    padding: 0;
    float: left;
    justify-content: center;
    display: inline;

}

#nbxc{
    width: 75px;
}

.table-responsive{
    width: auto;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table{
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

th{
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--primary-text-color);
    font-size: smaller;
    padding: 5px;
    text-align: center;
}
td{
    font-size: smaller;
    padding: 1px;
    text-align: center;
}

#dmsol .form-select{
    width: auto;
}

#dmsol label{
    margin: 0;
    padding: 0;
}

#stol .form-select{
    width: auto;
}

hr{
    border: none;
}

.form-check{
    display: inline;
    flex-wrap: wrap;

}

@media screen (min-width: 768px) {}

@media screen (min-width: 992px) {}

@media screen (min-width: 1200px) {}

@media screen (min-width: 1400px) {}