@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-color: #2c2321;

    --secondary-color: #d1aa85;

    --third-color: #f9e9dc;

    --highlight-color: #56701d;

    --highlight-color-light: #d8e1c7;

    --bg-review-card: #f6f1df;

    --contact-header-color: #614833;
}



body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-weight: 400;
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--primary-color);
}


#header {
    padding-top: 2rem;
}


.btn-primary {
    font-weight: bold;
    font-size: 140%;
    --bs-btn-color: var(--highlight-color);
    --bs-btn-bg: none;
    --bs-btn-border-width: none;
    --bs-btn-hover-color: var(--secondary-color);
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
}
section {
    border: 2px solid slategrey;
    /* FLEX PARENT PROPERTIES */
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* forms */
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 2rem;
}

fieldset {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 95%;
}

legend {
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--primary-color);
    padding: 0 10px;
}

input{
    padding: 10px;
    height: auto;
}

input#radio-btn {
    margin:0;
}

input.form-control {
    border: solid var(--primary-color);
    border-radius: 5px;
    padding: 2.5px;
    margin: 5px;
    width: auto;
}

#g-info, #j-info, #m-address, #email-address, #phone-number, #birth-date, #occupation, #f-address, #signature {
    border: 2px solid slategrey;
    /* FLEX PARENT PROPERTIES */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* SPACING PROPERTIES */
    gap:15px;
    flex-basis:auto;
    align-self:flex-end;
    height: auto;
    width: 95%;
    margin-bottom: 10px;
}


address {
    text-align: center;
    align-content: center;
    margin:0;
}

span {
    color: #9a0000;
    font-size: smaller;
}

#success a.btn.btn-primary.mb-5 {
    --bs-btn-color: var(--primary-color);
}


footer {
    background-color: var(--primary-color);
    padding-bottom: 0;
}


@media screen and (min-width: 768px) {


    #history .card-body {
        min-height: 270px;
    }

}

@media screen and (min-width: 992px) {


   
}

@media screen and (min-width: 1200px) {


}

@media screen and (min-width: 1400px) {


   

}